
.button_70 {
    display: inline-block;
    padding: 7px 17px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8b38a9;
    border: none;
    border-radius: 15px;
}
